*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button{
  font-size: 20px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  width: 290px;
  
}

.button:hover{
  color: rgb(38, 126, 38);
  background-color: rgb(104, 188, 188);
}